@import "default.css";

html {
  background-color: black;
  filter: invert(85%);
}
/* Apply filter on root element (html)
 * fixes issue with position:fixed-Elements 
 * at least in Chrome(, but not FF).*/
/*body {
  filter: invert(85%);
}*/

img {
    filter: invert(100%);
}
