@import "default.css";

body {
  margin: 0;
  padding: 0 3em;
  color: -moz-fieldText;
  font: message-box;
  filter: invert(85%);
}
img {
    filter: invert(100%);
}

html {
  background: -moz-Dialog;
  background-color: black;
  font: 3mm tahoma,arial,helvetica,sans-serif;
}
