/* Display other element on 'click' event.
 *
 * Requires three elements:
 *   .out : Fetches click event over :active property.
 *   .in1 : Element with complete content.
 *   .in2 : Element with abstract of content.
 *   
 *  • Relative Positioning not required due display:none...
 *  • Preferred property: geom_size(.in1) > geom_size(.in2)
 */

.click_out {
}

.click_in1 { 
  z-index:2;
  display:none;
  width:100%;
  padding-left:1em;
  border-left:1px solid black;
}

.click_out:active .click_in1, .click_out .click_in1:hover{ 
  display:inherit;
}

.click_out:active .click_in2, .click_out .click_in1:hover + .click_in2{ 
  display:none;
  /* or */
  /*visibility:hidden;*/
}

.click_out .click_in2 {
  z-index:1;
  cursor:pointer;
  width:100%;
}
