#!/bin/bash
#
# Allow start of a few commands over SSH. Used for
# rss2html-programm to control this machine, e.g. starts file locally.
# Minimal check of input arguments.
#
# Combine it with entry in .ssh/authorized_keys file:
# command="[path to script]/rss2html_ssh.sh" [SSH KEY]

check_args() {
  IFS=' ' read -r -a ARG_ARRAY <<< "${SSH_ORIGINAL_COMMAND}"

  # Allowed commands: INFO, PLAY, DOWNLOAD
  case "${ARG_ARRAY[0]}" in
    INFO)
        # Splitting avoid too long line for notify-send
        SPLIT_LINE=$(echo "${ARG_ARRAY[1]}" | sed "s/.\{40\}/\0\n/g")
        DISPLAY=:0.0 nohup notify-send "RSS_VIEWER" "$SPLIT_LINE" &
        ;;

    PLAY)
        DISPLAY=:0.0 nohup mpv --profile=webui --vid=3 "${ARG_ARRAY[1]}" &
        ;;

    DOWNLOAD)
        nohup sh -c "wget --directory-prefix='/dev/shm/' \"${ARG_ARRAY[1]}\" && notify-send \"RSS_VIEWER\" \"Download finished\"" &

        ;;
    *)
        echo "Command not defined/allowed on ssh server side."
        ;;
esac

}


if [ -n "$SSH_ORIGINAL_COMMAND" ]
then
    # echo "`/bin/date`: $SSH_ORIGINAL_COMMAND" >> /dev/shm/rss2html_ssh-command-log
    # exec $SSH_ORIGINAL_COMMAND
    check_args
else
    echo "Environment variable SSH_ORIGINAL_COMMAND not set."
    echo "Fall back on default script arguments."
    SSH_ORIGINAL_COMMAND="$@"
    check_args
fi
