[python: *.py]
[jinja2: templates/**.html]
encoding = utf-8
# extensions=jinja2.ext.autoescape,jinja2.ext.with_,webassets.ext.jinja2.AssetsExtension
# Jinja2 <= 3.0
# extensions=jinja2.ext.autoescape,jinja2.ext.with_
# Jinja2 3.1 has no with_ or autoescape extensions.
# extensions=jinja2.ext.autoescape
silent=False
