{% extends "base.html" %}

{% block content %}
<div id="feedHeaderContainer" class="w100percent">
    <div dir="ltr" class="feedHeader feedBackground">
        <h2><a href="/">{{ _("Overview") }}</a></h2>
    </div>
    <div id="feedHeaderContainerSpacer"></div>
    <div dir="ltr" class="feedHeader">
        {{ page_links(feed2.name, entries|length, entry_list_size, feed_page) }}
    </div>
    <div id="feedHeaderContainerSpacer"></div>
    <div dir="ltr" class="feedHeader">
        {% if nocache_link %}
        <h2><a href="/?feed={{
                      feed2.name|urlencode }}&page={{
                      feed_page}}&cache=0"
                >{{ _('Ignore feed cache') }}</a></h2>
        {% endif %}
    </div>
</div>

{% for entry in warnings %}
{{ warning(entry.title, entry.msg) }}
{% endfor %}

<div id="feedBody">
    <div id="feedTitle">
        <a id="feedTitleLink">
            {% if image %}
            <img id="feedTitleImage" src="{{ image.url }}"
                                     title="{{ image.title }}" />
            {% endif %}
        </a>
        <div id="feedTitleContainer">
          <h1 id="feedTitleText" >{{ title }}
						{% if source_link %}
						<a id="feedSource" href="{{ source_link }}">[{{ _('WWW') }}]</a>
						{% endif %}
            <a id="feedSource" href="{{ href }}">[{{ _('XML') }}]</a>
          </h1>
          <h2 id="feedSubtitleText" >{{ subtitle }}</h2>
        </div>
    </div>
    <div id="feedContent">
        {% for entry in entries[entry_list_first_id:entry_list_first_id+entry_list_size] %}
        {{ feed(entry, loop, False) }}
        {% endfor %}

        {# This needs do be defined after above elements #}
        <input type="radio" name="menu" id="toggle-0" class="menu_clickbox">
        <!-- End -->
    </div>
    <div id="fullContents">
        {% for entry in entries %}
        {{ feed_full_content(entry, loop) }}
        {% endfor %}
        <label for="toggle-0" class="menu_close1"></label>
    </div>
</div>
{% endblock %}

{% macro feed(entry, feed_loop, with_content_full) %}
<div class="entry">
    <h3><a href="{{ entry.url }}"><span>{{ entry.title }}</span></a>
        <span class="lastUpdated">{{ entry.pubDate|convert_pub_date }}</span>
    </h3>
    <div class="feedEntryContent {% if entry.content_full %}click_out{% endif %}">
        <div class="in2">
            {% if entry.content_full %}
            <label for="toggle-{{ feed_loop.index }}" class="menu_open">{{ _('Details') }}</label>
            {% endif %}
            {{ entry.content_short }}
        </div>
        {% if with_content_full %}
        {{ feed_full_content(entry, feed_loop) }}
        {% endif %}
        {% if entry.enclosures %}
        <div class="enclosures">{{ _('media files') }}
            {% for en in entry.enclosures %}
            {{ feed_enclosure(en, feed_loop.index, loop.index) }}
            {% endfor %}

            <!-- On the same hirarchy level after all elements (or after each element) -->

            <!-- After elements -->
            <input type="radio" name="menu" id="action_toggle-0" class="menu_clickbox">
        </div>
        {% endif %}
    </div>
</div>
<div class="div_after_feed"></div>
{% endmacro %}

{% macro feed_full_content(entry, loop) %}
<input type="radio" name="menu" id="toggle-{{ loop.index }}" class="menu_clickbox">
{% if entry.content_full %}
<div class="in1 {{ extra_css_cls }}">
    <label for="toggle-0" class="menu_close2">Close</label>
    {{ entry.content_full }}
</div>
{% endif %}
{% endmacro %}

{% macro warning(title, msg) %}
<div class="feedWarn">
    <div id="feedTitle">
        <div id="feedTitleContainer">
            <h1 id="feedTitleText" >{{ title }}</h1>
            <h2 id="feedSubtitleText" >{{ msg }}</h2>
        </div>
    </div>
</div>
{% endmacro %}

{% macro feed_enclosure(en, idx1, idx2) %}
{# idx1 and idx2 used to generate unique id's #}
<div class="enclosure">
    <img class="type-icon" alt="media icon"
                           src="{{ en.enclosure_type|get_icon }}"/>
    <a href="{{ en.enclosure_url }}">{{
        en.enclosure_filename|clipped_media_name(40) }}</a> ({{
    en.enclosure_type }}, {{ en.enclosure_length }})


    <div class="in2_action"><label for="action_toggle-{{ idx1 }}-{{ idx2 }}"
            class="action_open">Actions‣</label></div>
    <input type="radio" name="menu" id="action_toggle-{{ idx1 }}-{{ idx2 }}" class="menu_clickbox">
    <div class="in1_action in1_action_no_ani"><label for="action_toggle-0" class="menu_close2">✖</label>
        <span class="enclosure_filename">{{ en.enclosure_filename }}</span>
        <ul class="enclosure_actions">
            {% for action in en.actions %}
            <li>
                <a href="{{ action.url }}" title="{{ action.title }}"
                                           class="bgicon_{{ action.name }}">
                    {{ action.title }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>

    <label for="action_toggle-0" class="menu_close1"></label>
    {#
    <!-- On the same hirarchy level after all elements (or after each element) -->
    <label for="action_toggle-0" class="menu_close1"></label>

    <!-- After elements -->
    <input type="radio" name="menu" id="action_toggle-0" class="menu_clickbox">
    #}

</div>
{% endmacro %}

{% macro page_links(feed_name, num_entries, stride, cur_page) %}
<span class="feed_page_links">
    <h2>
    {% if num_entries > stride  %}
    {% for dummy in range(0, num_entries, stride) %}
        {% if loop.index == cur_page %}
        <b>{{ loop.index }}</b>
        {% else %}
        <a href="/?feed={{
                  feed_name|urlencode }}&page={{
                  loop.index }}">{{ loop.index }}</a>
        {% endif %}
    {% endfor %}
    {% endif %}
    </h2>
</span>
{% endmacro %}
