{% extends "base.html" %}

{% block content %}
<div id="feedHeaderContainer" style="width:100%">
    <div dir="ltr" class="feedHeader feedBackground">
        <h2><a href="/">{{ _("Overview") }}</a></h2>
    </div>
    <div id="feedHeaderContainerSpacer"></div>
    <div dir="ltr" class="feedHeader feedBackground">
        {% if nocache_link %}
        <h2><a href="/?feed={{ nocache_link|urlencode }}&cache=0"
                >{{ _('Ignore feed cache') }}</a></h2>
        {% endif %}
    </div>
</div>

{% for entry in warnings %}
{{ warning(entry.title, entry.msg) }}
{% endfor %}

<div id="feedBody">
    <div id="feedTitle">
        <a id="feedTitleLink">
            {% if image %}
            <img id="feedTitleImage" src="{{ image.url }}"
                                     title="{{ image.title }}" />
            {% endif %}
        </a>
        <div id="feedTitleContainer">
          <h1 id="feedTitleText" >{{ title }}
            <a id="feedSource" href="{{ href|urlencode }}">[{{ _('Source') }}]</a>
          </h1>
          <h2 id="feedSubtitleText" >{{ subtitle }}</h2>
        </div>
    </div>
    <div id="feedContent">
        {% for entry in entries %}
        {{ feed(entry, loop, False) }}
        {% endfor %}

        {# This needs do be defined after above elements #}
        <input type="radio" name="menu" id="toggle-0" class="menu_clickbox">
        <!-- End -->
    </div>
    <div id="fullContents">
        {% for entry in entries %}
        {{ feed_full_content(entry, loop) }}
        {% endfor %}
        <label for="toggle-0" class="menu_close1"></label>
    </div>
</div>
{% endblock %}

{% macro feed(entry, loop, with_content_full) %}
<div class="entry">
    <h3><a href="{{ entry.url|urlencode }}"><span>{{ entry.title }}</span></a>
        <span class="lastUpdated">{{ entry.last_update }}</span>
    </h3>
    <div class="feedEntryContent {% if entry.content_full %}click_out{% endif %}">
        <div class="in2">
            {% if entry.content_full %}
            <label for="toggle-{{ loop.index }}" class="menu_open">{{ _('Details') }}</label>
            {% endif %}
            {{ entry.content_short }}
        </div>
        {% if with_content_full %}
        {{ feed_full_content(entry, loop) }}
        {% endif %}
        {% if entry.enclosures %}
        <div class="enclosures">{{ _('media files') }}
            {% for en in entry.enclosures %}
            {{ feed_enclosure(en) }}
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>
<div style="clear: both;"></div>
{% endmacro %}

{% macro feed_full_content(entry, loop) %}
<input type="radio" name="menu" id="toggle-{{ loop.index }}" class="menu_clickbox">
<div class="in1 {{ extra_css_cls }}">
    {% if entry.content_full %}
    <label for="toggle-0" class="menu_close2">Close</label>
    {% endif %}
    {{ entry.content_full }}
</div>
{% endmacro %}

{% macro warning(title, msg) %}
<div class="feedWarn">
    <div id="feedTitle">
        <div id="feedTitleContainer">
            <h1 id="feedTitleText" >{{ title }}</h1>
            <h2 id="feedSubtitleText" >{{ msg }}</h2>
        </div>
    </div>
</div>
{% endmacro %}

{% macro feed_enclosure(en) %}
<div class="enclosure">
    <img class="type-icon" src="{{ en.enclosure_type|get_icon }}" alt="media icon"/>
    <a href="{{ en.enclosure_url|urlencode }}">{{
        en.enclosure_filename|clipped_media_name(40) }}</a> ({{
    en.enclosure_type }}, {{ en.enclosure_length }})
    <span class="enclosure_actions">
    {% for action in en.actions %}
    <a href="{{ action.url }}"><img src="{{ action.icon }}"
                                    class="enclosure_actions_icon"
                                    title="{{ action.title }}"
                                    alt="[{{ action.title }}]"></a>
    {% endfor %}
    </span>
</div>
{% endmacro %}
