{% extends "base.html" %}

{% block content %}
<div id="feedBody">
  <div id="feedTitle">
    <a id="feedTitleLink">
      <img id="feedTitleImage" src="/icons/Feed-icon.svg" alt="Rss feed icon" width="128" height="128" />
    </a>
    <div id="feedTitleContainer">
      <h1 id="feedTitleText"><a href="/index.html">{{ _('RSS Viewer') }}</a></h1>
      <h2 id="feedSubtitleText"> </h2>
    </div>
  </div>
  <div id="feedContent">
    {% if not session_user and login_type and login_type != "single_user" %}
    <h2>{{ _('Login') }}</h2>
    <div class="clearfix">
    {{ macros.login_form(user) }}
    </div>
    {% endif %}
    <h2 id="feedSubtitleText" >{{ _('Description') }}</h2>
    <p>{{ _("As Firefox 64.0 removes it's internal RSS reader, this script replaces the functionality.") }}
    <br />
    {{ _("It converts a 2.0 RSS feed into html page (similar looking to FF's version).") }}
    </p>
    <h2 id="feedSubtitleText">{{ _('Favorites') }}</h2>
    <ul class="feed_list">
      {% for fav in favorites %}
      <li>{{ list_favorite(fav, host, loop.index) }}</li>
      {% else %}
      {{ _('List of favorite feeds is empty.') }}
      {% endfor %}
    </ul>
    <h2 id="feedSubtitleText">{{ _('Other Feeds') }}</h2>
    <ul class="feed_list">
      {% for fav in history %}
      <li>{{ list_history(fav, host, loop.index) }}</li>
      {% else %}
      {{ _('History of visited feeds is empty.') }}
      {% endfor %}
    </ul>
    <!-- Dummy node for clickable menus -->
    <input type="radio" name="menu" id="action_toggle-0" class="menu_clickbox">

    <h2 class="add_feed" id="feedSubtitleText">{{ _('Add feed') }}</h2>
    <form action="/" method="GET" class="add_feed">
        <span>{{ "%(protocol)s%(host)s/?feed="|format(
            host=host, protocol=protocol) }}</span>
        <input name="feed" type="text" value="" tabindex="4">
        <input type="submit"/>
    </form>
    <h2 id="feedSubtitleText">{{ _('URI Arguments') }}</h2>
    <p>{{ _("Prepend feed url by '%(url)s' to display feed content by this
    rss viewer.")|format(url="<i>%(protocol)s%(host)s/?feed=</i>")|format(
    host=host, protocol=protocol) }}</p>
    <p>{{ _("Add a feed to %(favvar)s in '%(config_file)s' to extend above
    list.")|format(favvar="FAVORITES", config_file=FAVORITES_FILE) }}
    {{ _("Its name can be used as shortcut, i.e %(example_url)s.")|format(
    example_url="<i>%(protocol)s%(host)s/?feed={name}</i>")|format(
    host=host, protocol=protocol) }}
    </p>
    <h2 id="feedSubtitleText">{{ _('Miscellaneous') }}</h2>
    <ul class="misc_list">
      {% if session_user and session_user != "default" %}
      <li><span class="session">{{ _('User:') }} {{ session_user }}
          <a href="/logout">{{ _('Logout') }}</a></span></li>
      {% endif %}
      {% if css_styles %}
      <li>{{ _('Styles:') }}
        <ul class="css_style_list">
          {% for style in css_styles %}
          <li><a href="/change_style?css_style={{ style }}">{{ _(css_styles[style]) }}</a></li>
          {% endfor %}
        </ul>
      </li>
      {% endif %}
      <li><a href="/reload">{{ _('Reload favorites from disk') }}</a></li>
      <li><a href="/quit">{{ _('Quit daemon') }}</a></li>
    </ul>
  </div>
</div>
{% endblock %}

{% macro list_favorite(feed, host, idx) -%}
{# Right 'floated' section in feed title #}
<span class="manage_feed">
    {# Clickable element for feed actions #}
    <div class="in2_action">
        <label for="action_toggle-f-{{ idx }}"
               class="feed_open">▴</label> {# Others: ▲ #}
    </div>

    {# Container of feed actions #}
    <input type="radio" name="menu" id="action_toggle-f-{{ idx }}" class="menu_clickbox">
    <div class="in1_action in1_action_no_ani"><label for="action_toggle-0" class="menu_close2">✖</label>
    <span class="enclosure_filename">{{ feed.title }}</span>

    {# Definiton of actions #}
    <ul class="feed_actions">
            <li>
    <a href="//{{ host }}/?rm={{ feed.name|urlencode }}" title="{{
        _('Remove feed') }}">✖</a>
            </li>
    </ul>
    </div>
    <label for="action_toggle-0" class="menu_close1"></label>
</span>

{# main section in feed title #}
  <a class="reader_favorites"
     href="//{{ host }}/?feed={{ feed.name|urlencode }}">{{
    feed.title|default(feed.name,True) }}</a>
{%- endmacro %}

{% macro list_history(feed, host, idx) -%}
<span class="manage_feed">
</span>
{# Right 'floated' section in feed title #}
<span class="manage_feed">
    {# Clickable element for feed actions #}
    <div class="in2_action">
        <label for="action_toggle-h-{{ idx }}"
               class="feed_open">▴</label> {# Others: ▲ #}
    </div>

    {# Container of feed actions #}
    <input type="radio" name="menu" id="action_toggle-h-{{ idx }}" class="menu_clickbox">
    <div class="in1_action in1_action_no_ani"><label for="action_toggle-0" class="menu_close2">✖</label>
    <span class="enclosure_filename">{{ feed.title }}</span>

        {# Definiton of actions #}
        <ul class="feed_actions">
            <li>
                <a href="//{{ host }}/?add_fav={{ feed.name|urlencode }}" title="{{
                         _('Add to favorites') }}">➕&#xFE0E;</a>
            </li><li>
                <a href="//{{ host }}/?rm={{ feed.name|urlencode }}" title="{{
                         _('Remove feed') }}">✖</a>
            </li>
        </ul>
    </div>
    <label for="action_toggle-0" class="menu_close1"></label>
</span>

{# main section in feed title #}
  <a class="reader_favorites"
     href="//{{ host }}/?feed={{ feed.name|urlencode }}">{{
    feed.title|default(feed.name,True) }}</a>
{%- endmacro %}

{% macro warn(title, msg) -%}
<div class="feedWarn">
  <div id="feedTitle">
    <div id="feedTitleContainer">
      <h1 id="feedTitleText" >{{title}}</h1>
      <h2 id="feedSubtitleText" >{{msg}}</h2>
    </div>
  </div>
</div>
{%- endmacro %}

