{% extends "base.html" %}

{% block content %}
<div id="feedHeaderContainer" class="w100percent">
    <div dir="ltr" class="feedHeader feedBackground">
        <h2><a href="/">{{ _("Overview") }}</a></h2>
    </div>
    <div id="feedHeaderContainerSpacer"></div>
    <div dir="ltr" class="feedHeader">
        {% if nocache_link %}
        <h2><a href="/?feed={{ nocache_link|urlencode }}&cache=0"
                >{{ _('Ignore feed cache') }}</a></h2>
        {% endif %}
    </div>
</div>

<div id="feedBody">
  <h1>{{ msg_type }}</h1>
  <p>{{ msg }}</p>
</div>
{% endblock %}
